body{
    margin: 0;
    padding: 0;
    background: rgb(255, 235, 242);

  }
  .box{
    background: rgb(255, 235, 242);
    width: 300px;
    padding: 100px;
    margin: 20px auto 20px;
    text-align: center;
    color: black;
    font-family: 'Century Gothic',sans-serif;
    flex-wrap: wrap;

    
  }

  .box-img{
    border-radius: 50%;
    width: 200px;
    min-height: 200px;
    max-width: 100%;
  }
  /*name*/ 
  .box h1{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  /*major*/ 
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  /*???*/
  .box p{
    text-align: right;
  }
  /*padding for icons*/ 
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  /*color for icons*/ 
  .box li a{
    color: black;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #46324d;
  } 
  .wrapper {
    width: 100%;
  }
  