body{
    margin: 0;
    padding: 0;
    background: rgb(255, 235, 242);
    width: 100%;
    height: 100vh;
    overflow: hidden;

  }
  .box{
    background: rgb(255, 235, 242);
    width: 300px;
    padding: 100px;
    margin: 20px auto 20px;
    text-align: center;
    color: black;
    font-family: 'Century Gothic',sans-serif;
    flex-wrap: wrap;

    
  }

  .box-img{
    border-radius: 50%;
    width: 200px;
    min-height: 200px;
    max-width: 100%;
  }
  /*name*/ 
  .box h1{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  /*major*/ 
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  /*???*/
  .box p{
    text-align: right;
  }
  /*padding for icons*/ 
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  /*color for icons*/ 
  .box li a{
    color: black;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #46324d;
  } 
  .wrapper {
    width: 100%;
  }

  /* PROJECTS PAGE */
  
  #projects {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: white;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  /* PROJECT PAGE HOME BUTTON */

  .btn-group button {
    background-color: rgb(136, 65, 91); /* Green background */
    border: 3px solid white; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: center; /* Float the buttons side by side */
    font-size: 15px;

  }

  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #af879d;
  }